html, div, body, h1, h2, h3, h4, h5, h6, a, img, form, article,
section, nav, p, ul, li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}

body {
	line-height: 1;
  background: #e9ebee;

}
ol, ul {
	list-style: none;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.nav-container {
  position: fixed;
  background: #4267b2;
  height: 50px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto;
  padding-top: 8px;
  color: white;
  align-items: center;

}

.nav h1 {
  font-size: 32px;
}

.nav-right {
  display: flex;
  justify-content: center;
}

#nav-username {
  min-width: 100px;
}

/***** BODY *****/

.body {
  width: 850px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.sidebar-container {
  width: 36%
}

.sidebar{
  margin-top: 20px;
  width: 300px;
  text-align: center;
  background: white;
  max-height: 100%;
  position: fixed;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  color: #24282f;
}

.sidebar-inside {
  padding: 20px;
}

.profile-pic {
  /*margin-top: 16px;*/
  width: 100%;
}


.sidebar h2 {
  font-size: 28px;
  margin-top: 10px;
}

.sidebar h4 {
  margin-bottom: 10px;
}

.sidebar ul {
  /*display: flex;*/
  /*flex-direction: column;*/
  margin: 20px 0;
  text-align: left;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar li i {
  text-align: center;
  width: 24px;
}

.sidebar li a {
  color: #365899;
  text-decoration: none;
}

.sidebar li a:hover {
  text-decoration: underline;
}


/****** REPO INDEX ******/
.repo-index-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 530px;
}


/******* REPO ITEM *****/
.repo-item {
  background: white;
  margin: 0 auto 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.repo-item-description {
  padding: 20px 20px 0;
}

.repo-item a {
  color: #365899;
  text-decoration: none;
  font-size: 20px;
}

.repo-item a:hover {
  text-decoration: underline;
}

.repo-item p {
  margin: 30px 0;
  line-height: 1.3;
}

.repo-item ul {
  display: flex;
  justify-content: flex-start;
  color: #7f7f7f;
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid #e5e6e9;
  padding: 10px 0;
}

.repo-item ul li {
  margin-right: 20px;
}

.issue-index-container {
  border-top: 1px solid #e5e6e9;
  background: #f6f7f9;
}


.issue-index ul {
  flex-direction: column-reverse;
  border-top: none;
  margin-top: 0;
}

.issue-form {
  display: flex;
  flex-direction: column;
}

.issue-form input, textarea {
  width: 98%;
  height: 28px;
  font-size: 16px;
  padding-left: 6px;
  border: 1px solid #dddfe2;
}

.issue-form *:focus {
  outline: none;
}

.issue-form input:focus {
}

.issue-form textarea {
  height: 4em;
  resize: none;
  margin-top: 10px;
  padding-top: 6px;
}

.issue-form-container {
  border-top: 1px solid #e5e6e9;
  padding: 14px 20px 10px;
}

.form-btn-container {
  text-align: right;
}

.btn-add-issue {
  margin-top: 4px;
  max-width: 120px;
  border: #4267b2;
  background: #4267b2;
  color: white;
  border-radius: 2px;
  transition: 0.3s;
}

.btn-add-issue:hover {
  cursor: pointer;
  background: #335cb0;
  transition: 0.3s;
}

.issue-show {
  margin: 10px 20px;
}

.issue-text a {
  color: #365899;
  font-size: 0.8em;
}

.issue-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.issue-title {
  color: #365899;
  font-weight: bold;
  font-size: 16px;
  margin-right: 6px;
}

.issue-text p {
  margin: 4px 0;
  font-weight: 400;
  color: black;
}

.issue-options {
  display: flex;
  justify-content: flex-start;
  max-height: 30px;
  align-items: baseline;
}

.issue-options .bullet {
  margin: 0 4px;
  font-size: 12px;
}

.issue-options > a {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.issue-options a:hover {
  cursor: pointer;
}

.issue-options > p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.issue-state-closed {
  color: red;
  text-transform: capitalize;
}

.issue-state-open {
  color: green;
  text-transform: capitalize;
}
